.rootLayout {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainContent {
	flex: 1 0 auto;
	max-width: 40%;
	min-width: 40%;
	/* flex: 1; */
	min-height: 0;
}

.header {
	display: flex;
	justify-content: center;
	margin-bottom: 5em;
}

.pageContent {
	margin-bottom: 3em;
}
