@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--primary: #000000;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}

html,
body,
a {
	background-color: var(--primary);
	color: white;
	font-family: Poppins;
}

body {
	padding: 0em 1em 0.5em 1em;
}
