.button {
	color: white;
	background-color: black;
	padding: 1em;
	text-decoration: none;
	border: 2px solid white;
	cursor: pointer;
}

button:hover {
	border-color: yellowgreen;
}

.emoji {
	display: inline-block;
	vertical-align: text-top;
	position: relative;

	top: -4px;
}
