.spacecraftButton {
	border: 2px dashed white;
	background-color: black;
	display: inline-block;
}

.spacecraftButton:hover {
	border-color: yellowgreen;
}

.selected {
	border-color: darkred;
}

.selected:hover {
	border-color: darkred;
}

.thumbnail {
	display: block;
}
