.constructionForm {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	padding: 1.5em;
	margin-bottom: 1em;
}

.formBody {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}

.pageFooter {
	display: flex;
	justify-content: flex-end;
}

input {
	width: 95%;
	background-color: black;
	color: white;
	border: 2px solid white;
	padding: 0.5em;
}
