.constructionForm {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	padding: 1.5em;
	margin-bottom: 1em;
}

.formBody {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}

.pageFooter {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

input,
textarea {
	width: 95%;
	background-color: black;
	color: white;
	border: 2px solid white;
	padding: 0.5em;
	font-family: inherit;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
	border-color: yellowgreen;
	outline: none;
}

input::placeholder {
	color: rgb(192, 192, 192);
}

textarea {
	line-height: 1.5em;
	resize: none;
}

textarea::placeholder {
	color: rgb(192, 192, 192);
}

.validation {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 0.875rem;
	font-weight: 500; /* or whatever you want */
	color: red;
	min-height: 1em; /* optional: keeps a minimum size */
}

textarea::-webkit-scrollbar {
	width: 10px;
}

textarea::-webkit-scrollbar-track {
	background: rgb(44, 44, 44);
	border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
	background: rgb(117, 117, 117);
	border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
	background: #555;
	cursor: default;
}
