/* body {
	margin: 0;
}

#container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 760px;
	margin: 0 auto;
}

.card {
	height: auto;
	width: 200px;
	border: 10px solid #639fdf;
	border-radius: 5px;
	margin: 10px 10px;
	text-align: center;
	overflow-wrap: break-word;
	background-color: #97b9dd;
}

.name {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

.description {
	padding: 1.2em;
	font-family: "Helvetica Neue", Arial, sans-serif;
} */
