.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	border: 1px solid white;
	width: 20em;
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
