.planetCard {
	display: flex;
	border: 2px solid white;
	padding: 2em 1em;
	gap: 1em;
}

.action {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.planetInfo {
	display: flex;
	flex-direction: column;
	border: 2px dashed white;
	padding: 1em 2em;
	cursor: pointer;
}

.planetInfo:hover {
	border-color: yellowgreen;
}

.selected {
	border-color: yellowgreen;
}

.details {
	margin-top: 1.5em;
	margin-left: -1em;
}

.spacecrafts {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: flex-start;
	flex-wrap: wrap;
}

.spacecraftDetails {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
