.spacecrafts {
	display: flex;
	flex-direction: column;
}

.pageHeader {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2em;
}

.pageBody {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
